include LICENSE
include README.md
include requirements-dev.txt

recursive-include photon_mosaic_pipeline *.py
recursive-include photon_mosaic_pipeline/workflow *

exclude .pre-commit-config.yaml

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *
